site_name: GraphQL Codegen Documentation
site_description: Progressive examples from basic types to advanced directives
# site_url: https://graphql-codegen.dev

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
      base_path:
        - docs
        - .
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Examples:
    - "00 - Hello": examples/00-hello.md
    - "01 - Interfaces & Unions": examples/01-interfaces-and-unions.md
    - "02 - Compute Directive": examples/02-compute-directive.md
    - "03 - Method Directive": examples/03-method-directive.md
    - "04 - Expand Directive": examples/04-expand-directive.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cadbuildr/graphql-codegen 